.header {
    height: 50px;
    padding: 0px 50px;
    padding-top: 2px;
    background-color: #2c343f;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 10;

    .logoBlock {
        float: left;
        cursor: pointer;
        img {
            height: 46px;
        }
    }

    .accountBlock{
        float: right;
        display: inline-flex;
        align-items: center;
        color: white;
        cursor: pointer;

        .accountName{
            font-size: 20px;
        }

        .accountAvatar i {
            font-size: 46px;
        }
    }
}