.listOfUsersBlock {
    background-color: whitesmoke;
    box-sizing: border-box;
    display: block;
    padding-top: 12px;
    width: 25%;

    .addUserBtn{
        width: 80%;
    }

    ul{
        list-style-type: none;
        width: 90%;
        -webkit-padding-start: 20px;
        -moz-padding-start: 20px;

        .usersListItem{
            display: inline-flex;
            align-items: center;
            box-sizing: border-box;
            cursor: default;
            height: 40px;
            width: 100%;
            margin: 2px 0;
            color: deepskyblue;

            &.active{
                background-color: #14adc4;
                color: white;
            }

            >div{
                box-sizing: border-box;
                height: 40px;
            }

            .user {
                display: inline-flex;
                align-items: center;
                height: 40px;
                width: 90%;
                cursor: pointer;
                border: 2px solid rgba(0, 0, 0, 0);

                .userIcon{
                    width: 15%;
                    display: inline-flex;
                    align-items: center;
                }

                .userName {
                    align-items: center;
                    font-size: 20px;
                    overflow: hidden;
                    text-align: left;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-left: 10px;
                    display: inline-flex;
                    width: 85%;
                }
            }

            .contextMenuBlock{
                width: 10%;
                display: inline-flex;
                align-items: center;

                .contextMenuBtn {
                    cursor: pointer;
                    box-sizing: border-box;
                    border: 2px solid rgba(0, 0, 0, 0);
                    display: flex;

                    &:hover{
                        border: 2px solid #bbb;
                        border-radius: 2px;
                    }
                }

                .contextMenu {
                    position: absolute;
                    display: none;
                    z-index: 2;
                    cursor: pointer;

                    &.open{
                        display: inline-block;
                    }

                    .contextMenuBody {
                        background-color: whitesmoke;
                        border: 1px solid #bbb;
                        border-radius: 2px;
                        color: #2b607b;
                        position: relative;
                        top: 15px;
                        height: 56px;
                        width: 150px;
                        z-index: 3;

                        >div {
                            height: 28px;
                            padding-top: 6px;
                            text-align: center;
                            box-sizing: border-box;

                            &:hover{
                                background-color: #69e06e;
                            }
                        }
                    }
                }
            }
        }
    }
}