#reviewForm{
    > div > div{
        margin-bottom: 10px;
    }

    textarea{
        box-sizing: border-box;
        font-family: sans-serif;
        font-size: 18px;
        resize: none;
        padding-top: 8px
    }

    textarea::placeholder{
        font-family: sans-serif;
        font-size: 18px;
    }

    textarea{
        border: none;
        background-color: white;
        border-bottom: 2px solid #6b6767;
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    .invalid{
        color: red;

        textarea{
            border-bottom: 2px solid red;
        }
    }
}