.userProfile {
    display: inline-block;
    width: 75%;
    min-height: 500px;
    border-left: 2px solid #d5d5d5;
    border-right: 2px solid #d5d5d5;
    box-sizing: border-box;

    .userInfoBlock {
        width: 100%;
        height: 300px;
        display: flex;

        .userAvatar {
            width: 250px;
            height: 250px;

            i{
                font-size: 250px;
                color: gray;
            }
        }

        .userInfo {
            height: 250px;
            text-align: left;
            padding: 25px;
            box-sizing: border-box;

            span:first-of-type {
                color: rgb(99, 95, 95);
            }

            div {
                height: 66px;
                font-size: 24px;
                display: flex;
                align-items: center;

                span:last-child {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding-left: 10px;
                }
            }
        }
    }

    .reviewsBlock{
        width: 100%;

        .review{
            width: 90%;
            min-height: 150px;
            border: 2px solid #bbb;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
            border-radius: 2px;
            margin: 5px auto;
            padding: 5px;
            box-sizing: border-box;

            .reviewHeader{
                width: 100%;
                min-height: 24px;
                display: flex;
                justify-content: space-between;
                padding: 0px 10px;
                box-sizing: border-box;
                color: #033;

                .reviewDate{
                    text-decoration-line: underline;
                    font-size: 15px;
                }

                .reviewDeleteBtn{
                    cursor: pointer;
                }
            }

            .reviewText{
                text-align: left;
            }
        }
    }
}